{% extends 'core/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="LOGIN">
  <div class="div">
    <img class="logo-policia-penal" src="{% static 'imagens/logo-policia-penal-540.jpg' %}" alt="Logo">
    <div class="content">
      <div class="text-wrapper">Faça seu Login</div>
      <form method="post">
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <button type="submit" class="button-box"><span>Entrar</span></button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
