{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registro de Entrada/Saída{% endblock %}

{% block content %}
<div class="LOGIN">
    <div class="div">
        <img class="logo-policia-penal" src="{% static 'imagens/logo-policia-penal-540.jpg' %}" alt="Logo">
        <div class="content">
            <div class="text-wrapper">Registro de Entrada/Saída</div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button-box">
                    <span>Registrar</span>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
