{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Controle de Veículos{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    <!-- Menu de navegação (pode incluir links para as páginas) 
    <nav>
      <ul>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'cadastro_veiculo' %}">Cadastro de Veículos</a></li>
        <li><a href="{% url 'registro' %}">Registro</a></li>
        <li><a href="{% url 'historico' %}">Histórico</a></li>
        <li><a href="{% url 'configuracoes' %}">Configurações</a></li>
        <li><a href="{% url 'logout' %}">Sair</a></li>
      </ul>
    </nav> -->
    
    <div class="content-container">
        {% block content %}
        <!-- Cada template que estender o base.html vai inserir seu conteúdo aqui -->
        {% endblock %}
    </div>
    
    <!-- Rodapé, se necessário -->
    <footer>
        <p>© 2025 Controle de Veículos</p>
    </footer>
</body>
</html>
