{% extends 'core/base.html' %}
{% load static %}
{% block title %}Cadastro de Usuário{% endblock %}

{% block content %}
<div class="CAD_USER">
    <div class="container">
        <!-- Logo lateral -->
        <div class="logo">
            <img src="{%static 'imagens/logo-novo.png' %}" alt="Logo Polícia Penal">
        </div>
        <!-- Formulário -->
        <div class="form-container">
            <!-- <div class="login"><a href="{% url 'login' %}">Voltar ao Menu</a></div> -->
            <h2>Cadastro do Usuário</h2>
            <form method="post" class="cadastroForm">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button-box">
                    <span>Cadastrar</span>
                </button>
            </form>
            <p style="color: aliceblue;">Já possui cadastro? <a href="{% url 'login' %}" style="color: rgb(251, 255, 0);">Clique aqui para fazer login</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
