{% extends 'core/base.html' %}
{% load static}
{% block title %}Cadastro de Usuário{% endblock %}

{% block content %}
<div class="LOGIN">
    <div class="div">
        <div class="content">
            <div class="text-wrapper">Cadastro de Usuário</div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button-box">
                    <span>Cadastrar</span>
                </button>
            </form>
            <p>Já possui cadastro? <a href="{% url 'login' %}">Clique aqui para fazer login</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
