{% extends 'core/base.html' %}
{% load static %}
{% block title %}Cadastro de Veículos{% endblock %}

{% block content %}
<div class="CAD_VEC">
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <img src="{%static 'imagens/logo-novo.png' %}" alt="Logo Polícia Penal">
    </div>
    <!-- Formulário -->
    <div class="form-container">
      <div class="voltar"><a href="{% url 'menu' %}">Voltar ao Menu</a></div>
      <h2>Cadastro de Veículo</h2>
      <form method="post">
        {% csrf_token %}
                    
        {{ form.modelo_predefinido.label_tag }}              
        {{ form.modelo_predefinido }}
        {{ form.modelo_predefinido.errors }}
                    
        {{ form.placa.label_tag }}
        {{ form.placa }}
        {{ form.placa.errors }}

        {{ form.proprietario.label_tag }}
        {{ form.proprietario }}
        {{ form.proprietario.errors }}

        <button type="submit" class="btn">
          Cadastrar
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}