{% extends 'core/base.html' %}
{% load static %}
{% block title %}Configurações{% endblock %}

{% block content %}
<div class="LOGIN">
    <div class="div">
        <img class="logo-policia-penal" src="{% static 'imagens/logo-policia-penal-540.jpg' %}" alt="Logo">
        <div class="content">
            <div class="text-wrapper">Configurações</div>
            <p>Aqui você pode gerenciar as configurações do sistema.</p>
            <!-- Adicione formulários ou links para gerenciar usuários e outras configurações -->
        </div>
    </div>
</div>
{% endblock %}
