{% extends 'core/base.html' %}
{% load static %}
{% block title %}Histórico de Registros{% endblock %}

{% block content %}
<div class="HISTORICO">
    <div class="container">
        <!-- Logo -->
        <div class="logo">
            <img src="{%static 'imagens/logo-novo.png' %}" alt="Logo Polícia Penal">
        </div>
        <!-- Formulário -->
        <div class="content">
            <div class="voltar"><a href="{% url 'menu' %}">Voltar ao Menu</a></div>
            <h2>Histórico de Registros</h2>

            <!-- Filtros -->
            <div class="filtros"> 
                <form method="get">
                
                <input type="date" name="data" value="{{ request.GET.data }}">
                <select name="tipo">
                    <option value="">-- Tipo --</option>
                    <option value="Entrada" {% if request.GET.tipo == "Entrada" %}selected{% endif %}>Entrada</option>
                    <option value="Saída" {% if request.GET.tipo == "Saída" %}selected{% endif %}>Saída</option>
                </select>
                <input type="text" name="veiculo" placeholder="Placa do veículo" value="{{ request.GET.veiculo }}" id="filtroPlaca">
                <input type="text" name="usuario" placeholder="Proprietário" value="{{ request.GET.usuario }}" id="filtroProprietario">
                <button type="submit" class="btn">Filtrar</button>
                </form>
            </div>


            <!-- Tabela-->
            <table id="tabelaRegistros">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Tipo</th>
                        <th>Veículo</th>
                        <th>Proprietário</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in page_obj %}
                    <tr>
                        <td>{{ registro.id }}</td>
                        <td>{{ registro.data_hora|date:"d/m/Y" }}</td>
                        <td>{{ registro.data_hora|date:"H:i:s" }}</td>
                        <td>{{ registro.tipo }}</td>
                        <td>{{ registro.veiculo.placa }}</td>
                        <td>{{ registro.veiculo.proprietario }}</td>
                        <td>{{ registro.observacoes }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td> <h2>Nenhum Registro Encontrado</h2> </td>
                    </tr>    
                    {% endfor %}
                </tbody>
            </table>
            <!-- Paginação -->  
            <div class="paginacao">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Primeiro</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}

                <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
            </div>
        </div>         
    </div>
</div>
{% endblock %}
