{% extends 'core/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{% load static %}
<div class="LOGIN">
    <div class="div">
        <img class="logo-policia-penal" src="{% static 'imagens/logo-policia-penal-540.jpg' %}" alt="Logo">
        <div class="content">
            <div class="text-wrapper">Bem-vindo</div>
            <form method="post">
                {% csrf_token %}
                <div class="input-box">
                    <input type="text" name="cpf" placeholder="CPF" required>
                </div>
                <div class="input-box">
                    <input type="password" name="senha" placeholder="Senha" required>
                </div>
                <button type="submit" class="button-box">
                    <span>Teste</span>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
