
{% extends 'core/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="LOGIN">
    <div class="div">
        <img class="logo-policia-penal" src="{% static 'imagens/logo-policia-penal-540.jpg' %}" alt="Logo">
        <div class="content">
            <div class="text-wrapper">Bem-vindo</div>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="input-box">
                    <input type="text" name="cpf" placeholder="CPF" required>
                </div>
                <div class="input-box">
                    <input type="password" name="senha" placeholder="Senha" required>
                </div>
                <button type="submit" class="button-box">
                    <span>Entrar</span>
                </button>
            </form>
            <p>Ainda não possui cadastro? <a href="{% url 'cadastro_usuario' %}">Cadastre-se aqui</a>.</p>
        </div>
        </div>
    </div>
</div>
{% endblock %}
