{% extends 'core/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="MENU">
  <div class="div">
    <img class="logo-policia-penal" src="{% static 'imagens/logo-policia-penal-540.jpg' %}" alt="Logo">
    <div class="content">
        <div class="text-wrapper">Bem-vindo</div>
        {% if error %}
            <p style="color: rgb(251, 255, 0);">{{ error }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="LOGIN.input-box">
                <input type="text" name="cpf" placeholder="CPF" required>
            </div>
            <div class="LOGIN.input-box">
                <input type="password" name="senha" placeholder="Senha" required>
            </div>
            <button type="submit" class="button-box">
                <span>ENTRAR</span>
            </button>
        </form>
        <p style="color: aliceblue;" font-weight = "400">Ainda não possui cadastro? <a href="{% url 'cadastro_usuario' %}" style="color: rgb(251, 255, 0)">Cadastre-se aqui</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
