{% extends 'core/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="MENU">
      <div class="div">
        <img class="logo-policia-penal" src="{% static 'imagens/logo-policia-penal-540.jpg' %}" />
        <div class="content">
            <div class="text-wrapper">Início</div>
            <a class="button-box" href="{% url 'registro' %}">
                <span>ENTRADA/SAIDA</span>
            </a>
            <a class="button-box" href="{% url 'cadastro_usuario' %}">
                <span>CADASTRAR USUÁRIOS</span>
            </a>
            <a class="button-box" href="{% url 'cadastro_veiculo' %}">
                <span>CADASTRAR VEÍCULOS</span>
            </a>
            <a class="button-box" href="{% url 'historico' %}">
                <span>HISTÓRICO</span>
            </a>
            <a class="button-box" href="/admin/">
                <span>CONFIGURAÇÕES</span>
            </a>
        </div>
      </div>
    </div>
    {% endblock %}