{% extends 'core/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="MENU">
        <div class="container">
        <!-- Logo lateral -->
        <div class="logo">
            <img src="{% static 'imagens/logo-novo.png' %}" alt="Logo Polícia Penal">
        </div>
        <!-- <div class="login"><a href="{% url 'login' %}">Voltar ao Menu</a></div> -->
        <!-- Menu de opções -->
        <div class="menu">
            <a href="{% url 'registro' %}">
                <i class="fa fa-file-signature"></i>
                ENTRADA/SAIDA
            </a>
            
            <a href="{% url 'cadastro_usuario' %}">
                <i class="fa fa-user"></i>
                CADASTRAR USUÁRIOS
            </a>

            <a href="{% url 'cadastro_veiculo' %}">
                <i class="fa fa-car"></i>
                CADASTRAR VEÍCULOS
            </a>

            <a href="{% url 'historico' %}">
                <i class="fa fa-list"></i>
                HISTÓRICO
            </a>

            <a href="/admin/">
                <i class="fa fa-cog"></i>
                ADMINISTRAÇÃO
            </a>
            
        </div>
      </div>
      </div>  
    </div>
    {% endblock %}