{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registrar Entrada/Saída{% endblock %}
{% block content %}
<div class="REGISTRO">
  <div class="container">
    <!-- Logo -->
      <div class="logo">
        <img src="{%static 'imagens/logo-novo.png' %}" alt="Logo Polícia Penal">
      </div>
    <!-- Formulário -->
    <div class="content">
      <div class="voltar"><a href="{% url 'menu' %}">Voltar ao Menu</a></div>
      <h2>Registrar Entrada/Saída</h2>
    
      <form method="post">
        {% csrf_token %}
        
        {{ form.tipo.label_tag }}
        {{ form.tipo }}
        {{ form.tipo.errors }}
        
        
        {{ form.veiculo.label_tag }}
        {{ form.veiculo }}
        {{ form.veiculo.errors }}
        
        
        {{ form.observacoes.label_tag }}
        {{ form.observacoes.value }}
        {{ form.observacoes.errors }}
        
        <button type="submit" class="btn">
          Registrar
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
