/*folha de estilo do body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

/* login estilos */    
.LOGIN .container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  justify-content: space-between;
}

.LOGIN .logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LOGIN .logo img {
  max-width: 300px;
}

.LOGIN .form-box {
  flex: 1;
  background-color: #5a5555;
  padding: 40px;
  border-radius: 10px;
  color: #fff;
}

.LOGIN .form-box h2 {
  text-align: center;
  margin-bottom: 30px;
}

.LOGIN label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.LOGIN input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.LOGIN .btn {
  width: 100%;
  background-color: #ffcc00;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.LOGIN .btn:hover {
  background-color: #e6b800;
}

.LOGIN .link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.LOGIN .link a {
  color: #ffcc00;
  text-decoration: none;
}

.LOGIN .top-link {
  text-align: right;
  margin-bottom: 15px;
}

.LOGIN .top-link a {
  color: #ffcc00;
  font-size: 14px;
  text-decoration: none;
}